*{
    margin: 0;
    padding: 0;
  }
#chimera-img{
    background-image: url("../images/Chimera.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#chimera-content{
    display: flex;
    justify-content: center;
    padding: 250px;
    font-size: 75px;
    color: white;
    font-family: Cinzel;
    text-align: center;

}
