#contactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eCard{
    background: #003049;
    color: white;
    display:flex;
    border-radius:10px;
    padding: 20px 40px;
    margin: 40px;
    font-size: 25px;
    justify-content: space-between;
    width: 66%;
    align-content: center;
}

.eCard-content{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

a{
    color: white;
    padding: 10px;
  }
  
  a:hover{
    color: #FCBF49;
  }

  .eCard-img{
    width: 250px;
  }

  .name{
    font-size: 35px;
    font-style: bold;
  }